<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/image-index/favicon2.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/about.css">
    <title>Dev Shoes</title>
</head>
<body>
    <div class="area_principal">
        <div class="aviso">
            <div class="area_image">
                <img src="../images/image-about/icon-shild-alert.png" alt="icon about">
            </div>
            <div class="area_titulo">
                <h1>Página em Construção</h1>
            </div>
            <div class="area_sub_title">
                <p>Nosso site está em fase de melhorias em breve esta página estará disponivel. Estamos trabalhando para melhor atender as suas necessidades.</p>
            </div>
        </div>
    </div>
</body>
</html>